@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0; 
    font-family:  "Krona One", serif;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

.destaque{
    font-size: 25px;
    color: #ffae00d5;
}

.container{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}

.titulo{
    font-size: 30px;
    
}

.paragrafo{
    font-size: 20px;
    font-family: "Roboto", serif;
    font-weight: 300;
    text-align: justify; 
    color: #ffffff;
    
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}  

.botoes__titulo{
    font-size: 20px;
    font-weight: 300;
}


.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #ffae00d5;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    font-family:"Roboto", serif; 
    transition: 0.3s ease-in-out;
}

.link:hover{
    background-color: #ffae00d5;
    transform: scale(1.05);

}